:root {
	--image_url: "";
	--is_light: 0;
	--transition: linear 0.35s;
	/* You can darken (eg. -20) or lighten (eg. +20) the main color*/
	--custom_darken: 0;
	--system_is_dark: 1;
	--warning_message: "You haven't installed 'default-dynamic.js' extension. Please follow instructions on the README page.";
	--header-text: white;
}

div.ReactModalPortal:last-of-type::before {
	font-size: 30px;
	content: var(--warning_message);
}

@media (prefers-color-scheme: light) {
	:root {
		--system_is_dark: 0;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--system_is_dark: 1;
	}
}

.main-rootlist-rootlistDividerGradient {
	background: unset;
}

input:not(.KGnDzV9IPjGQ8Ude8Cgl):not(.main-playlistEditDetailsModal-textElement) {
	background-color: unset !important;
	border-bottom: solid 1px var(--spice-text) !important;
	border-radius: 0 !important;
	padding: 6px 10px 6px 48px;
	color: var(--spice-text) !important;
}

input:not(.KGnDzV9IPjGQ8Ude8Cgl):not(.main-playlistEditDetailsModal-textElement)::placeholder {
	color: var(--spice-subtext) !important;
}

input:not(.KGnDzV9IPjGQ8Ude8Cgl):not(.main-playlistEditDetailsModal-textElement):focus {
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
}

.main-playlistEditDetailsModal-textElement {
	background-color: rgba(var(--spice-rgb-selected-row),.1) !important;
	border-bottom: solid 1px var(--spice-text) !important;
	border-radius: 0 !important;
	padding: 6px 10px 6px 10px;
	color: var(--spice-text) !important;
}

.main-playlistEditDetailsModal-textElement:focus {
	background-color: rgba(var(--spice-rgb-selected-row),.1) !important;
}

.x-searchInput-searchInputSearchIcon,
.x-searchInput-searchInputClearButton {
	color: var(--spice-text) !important;
}

.main-playButton-PlayButton.main-playButton-primary {
	color: white;
}

/* Remove Topbar background colour */
.main-topBar-background {
	background-color: unset !important;
}
.main-topBar-overlay {
	background-color: var(--spice-main);
}

.main-entityHeader-shadow,
.main-contextMenu-menu,
.connect-device-list-container {
	box-shadow: 0 4px 20px #21212130;
}

.artist-artistVerifiedBadge-badge {
	display: none;
}

.artist-artistVerifiedBadge-badge svg,
.main-trackList-playingIcon {
	filter: grayscale(1);
}

span.artist-artistVerifiedBadge-badge svg:nth-child(1) {
	fill: black;
}

.main-navBar-navBarLinkActive {
	background-color: rgba(var(--spice-rgb-button), 0.5);
}

.main-trackList-trackListRow:focus-within,
.main-trackList-trackListRow:hover {
	background-color: rgba(128, 128, 128, 0.1);
}
.main-trackList-trackListRow.main-trackList-selected,
.main-trackList-trackListRow.main-trackList-selected:hover {
	background-color: rgba(128, 128, 128, 0.3);
}

.main-entityHeader-subtitle.main-entityHeader-gray,
.main-entityHeader-divider.main-type-mesto,
.main-entityHeader-divider.main-type-mesto span,
.main-type-mesto.main-type-mesto,
.main-type-mesto.main-type-mesto span {
	color: var(--spice-subtext) !important;
}

.contentSpacing hr {
	border-color: rgba(128, 128, 128, 0.2);
}

/* Full window artist background */
.main-entityHeader-background.main-entityHeader-gradient {
	opacity: 0.3;
}

/*
.main-entityHeader-container.main-entityHeader-withBackgroundImage,
.main-entityHeader-background,
.main-entityHeader-background.main-entityHeader-overlay:after {
	height: 100vh;
}

.main-entityHeader-withBackgroundImage .main-entityHeader-headerText {
	justify-content: center;
}

.main-entityHeader-container.main-entityHeader-nonWrapped.main-entityHeader-withBackgroundImage {
	padding-left: 9%;
}

.main-entityHeader-background.main-entityHeader-overlay:after {
	background-image: linear-gradient(transparent, transparent), linear-gradient(var(--spice-main), var(--spice-main));
}

.artist-artistOverview-overview .main-entityHeader-withBackgroundImage h1 {
	font-size: 175px !important;
	line-height: 175px !important;
}*/


/* translucid background cover */
.Root::before {
	content: "";
	background-image: var(--image_url);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	filter: blur(15px);
	pointer-events: none;
	backface-visibility: hidden;
	will-change: transform;
	transition: background-image var(--transition);
	opacity: 0.17;
	z-index: +4;
}

/* context menu */
.main-contextMenu-menu {
	border: 1px solid var(--spice-tab-active);
}

/* notification toaster */
.main-notificationBubbleContainer-NotificationBubbleContainer .main-notificationBubble-NotificationBubble {
	color: var(--spice-player);
	background-color: var(--spice-button);
}

/* collection card shown in library */
.main-heroCard-draggable,
.main-heroCard-draggable a,
.main-heroCard-draggable div,
.collection-collectionEntityHeroCard-likedSongs,
.collection-collectionEntityHeroCard-likedSongs .main-cardHeader-link,
.collection-collectionEntityHeroCard-likedSongs .collection-collectionEntityHeroCard-descriptionContainer,
.x-heroCategoryCard-heroTitle {
	color: #EAEAEA !important;
}

/* genre page card shown in search */
#searchPage h3 {
	color: #EAEAEA !important;
}

/* spotify dynamic gradients */
.main-home-homeHeader {
	opacity: 0;
	background-color: var(--spice-text) !important;
}

.main-entityHeader-overlay {
	opacity: 0;
}

.main-actionBarBackground-background,
.main-entityHeader-backgroundColor {
	opacity: 0;
	background-color: var(--spice-text) !important;
	filter: grayscale(0.5);
}

/* play button in playlist table */
.main-trackList-rowPlayPauseButton {
	padding: 0px;
}

.main-trackList-rowPlayPauseButton:hover {
	color: var(--spice-subtext);
	transform: scale(1.15);
	transition: transform 30ms linear;
}

.main-collectionLinkButton-collectionLinkButton,
.main-createPlaylistButton-button {
	color: var(--spice-subtext);
}

/* h2-like titles */
.main-entityHeader-titleButton,
.main-entityHeader-title,
.main-shelf-title,
.main-type-canon,
.artist-artistOverview-heading,
.artist-artistOverview-about * {
	color: var(--spice-subtext) !important;
}

/* profile icon */
.main-entityHeader-imagePlaceholder {
	color: var(--spice-text);
}

/* left menu active item background */
.main-navBar-navBarLinkActive {
	color: var(--spice-subtext) !important;
}

/* connect */
.connect-title {
	color: var(--spice-subtext) !important;
}

.connect-header {
	display: none;
}

/* big oval buttons */
.main-buttons-button:hover {
	color: var(--spice-main) !important;
	background-color: var(--spice-button-active);
}

/* top buttons */
.main-topBar-button {
	background-color: var(--spice-notification) !important;
	width: 32px !important;
	height: 32px !important;
	margin: 8px !important;
}

.main-topBar-button:not([disabled]):hover {
	background-color: var(--spice-card) !important;
}

.main-userWidget-box {
	background-color: var(--spice-notification);
}

/* bubble arrow */
.main-notificationBubble-NotificationBubble {
	border: 1px solid var(--spice-text);
}

.main-notificationBubble-withTopRightPointer:before {
	right: 32px;
	top: -17px;
	border: 8px solid transparent;
	border-bottom-color: var(--spice-text);
	bottom: 100%;
	content: "";
	height: 0;
	pointer-events: none;
	position: absolute;
	width: 0;
}

/* buddy shadow */
.main-buddyFeed-buddyFeed {
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* buddyFeed color fix */
.main-buddyFeed-activityMetadata .main-buddyFeed-usernameAndTimestamp,
.main-buddyFeed-activityMetadata .main-buddyFeed-username a,
.main-buddyFeed-activityMetadata .main-buddyFeed-playbackContextLink,
.main-buddyFeed-activityMetadata .main-buddyFeed-artistAndTrackName a {
	color: unset;
}

/* drop down */
.main-dropDown-dropDown,
select,
option {
	color: var(--modspotify_secondary_fg) !important;
	background-color: var(--spice-notification) !important;
	font-weight: 400 !important;
	border-radius: 4px !important;
	margin-left: 0 !important;
}

/* lyrics plus app */
.lyrics-lyricsContainer-LyricsContainer {
	margin-top: unset;
	--lyrics-color-active: var(--spice-text) !important;
	--lyrics-color-inactive: var(--spice-subtext) !important;
	--lyrics-color-passed: var(--spice-subtext) !important;
}

.lyrics-lyrics-contentContainer {
	--lyrics-color-active: var(--spice-text) !important;
	--lyrics-color-inactive: var(--spice-subtext) !important;
	--lyrics-color-passed: var(--spice-subtext) !important;
	--lyrics-color-highlight: var(--spice-text) !important;
}

.lyrics-lyricsContent-highlight {
	opacity: 0.8;
}

/* available update text */
.main-topBarUpdateAvailable {
	max-width: unset;
}

/* playlist header */
.main-duration-container,
.main-entityHeader-metaDataText,
.playlist-playlist-playlistDescription {
	color: var(--spice-text);
}

/* lyrics header */
/*.lyrics-lyricsContainer-LyricsBackground {
	background: linear-gradient(180deg, transparent 60px, var(--lyrics-color-background) 100%) !important;
}*/

/* cover collapsed button */
.main-coverSlotCollapsed-expandButton,
.x-removeButton-RemoveButton,
.main-coverSlotExpandedCollapseButton-collapseButton {
	color: var(--spice-main) !important;
	background-color: rgba(var(--spice-rgb-subtext), 0.25) !important;
}

.main-coverSlotCollapsed-expandButton:hover,
.x-removeButton-RemoveButton:hover,
.main-coverSlotExpandedCollapseButton-collapseButton:hover {
	background-color: rgba(var(--spice-rgb-subtext), 0.6) !important;
}

/* save vertical space in left menu */
.main-navBar-entryPoints {
	padding-top: 0px !important;
}

.main-navBar-navBarLink {
	height: 34px; /* try 32px */
}

.main-navBar-navBarLink svg {
	color: var(--spice-text);
}

.main-navBar-navBarLink svg:hover {
	color: var(--spice-text);
}

.main-rootlist-rootlist {
	margin-top: 6px;
}

.main-createPlaylistButton-button,
.main-collectionLinkButton-collectionLinkButton {
	padding-top: 3px;
	padding-bottom: 4px;
}

.main-rootlist-rootlist {
	--left-sidebar-item-height: 28px; /* try 26px */
}

.main-rootlist-rootlistDivider {
	background-color: unset;
}

/* Hightlight selected playlist */
.main-rootlist-rootlistItemLink.main-rootlist-rootlistItemLinkActive {
	color: var(--spice-subtext);
	background-color: rgba(var(--spice-rgb-button), 0.5);
	border-radius: 4px;
	padding: 0 16px;
	margin-left: -16px;
}

.main-rootlist-expandArrow {
	margin-left: 8px;
}

/* Menu item hover */
.main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):focus,
.main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):hover {
	background-color: rgba(var(--spice-rgb-selected-row), 0.2);
}

.main-contextMenu-menuItemButton {
	color: var(--spice-subtext);
}

.main-contextMenu-disabled {
	color: var(--spice-notification) !important;
}

/* bookmark extension */
.bookmark-menuitem {
	padding: 5px !important;
}

.bookmark-menuitem:hover {
	background-color: rgba(var(--spice-rgb-selected-row), 0.2) !important;
}

.bookmark-controls {
	color: var(--spice-main) !important;
	background-color: rgba(var(--spice-rgb-subtext), 0.2) !important;
}

.bookmark-controls:hover {
	background-color: rgba(var(--spice-rgb-subtext), 0.5) !important;
}

/* new-releases & lyrics-plus settings */
.reddit-sort-container button.switch,
.new-releases-header button.switch,
.lyrics-tabBar-header button.switch {
	background-color: rgba(var(--spice-rgb-subtext), 0.15) !important;
	color: var(--spice-text);
}

.reddit-sort-container button.switch:hover,
.new-releases-header button.switch:hover,
.lyrics-tabBar-header button.switch:hover {
	background-color: rgba(var(--spice-rgb-subtext), 0.3) !important;
}

.lyrics-tabBar-active {
	background-color: var(--spice-notification);
}

/* same border radius on all 3 icons (playlist, liked, podcasts) */
.main-yourEpisodesButton-yourEpisodesIcon {
	border-radius: 4px;
}

/* explicit lyrics icon */
.main-tag-container {
	color: var(--spice-subtext);
	background-color: rgba(var(--spice-rgb-subtext), 0.2) !important;
}

/* playlist top buttons */
.os-viewport button:not(.main-playButton-primary):not(:hover) {
	color: var(--spice-subtext) !important;
}

/* album year info */
.main-trackInfo-release {
	font-size: 0.6875rem;
}

/* fix player bar buttons */
.main-nowPlayingBar-left button,
.main-nowPlayingBar-left button[aria-checked="false"],
.main-nowPlayingBar-right button,
.main-nowPlayingBar-right button:focus:not(:focus-visible):not(:hover),
.main-nowPlayingBar-center button:not(.main-playPauseButton-button) {
	color: var(--spice-subtext);
}

.main-nowPlayingBar-left button:active,
.main-nowPlayingBar-right button:active,
.main-nowPlayingBar-center button:not(.main-playPauseButton-button):active {
	color: rgba(var(--spice-rgb-text), 0.7) !important;
}

.main-playPauseButton-button {
	color: var(--spice-player);
	background-color: var(--spice-button-active);
}

/* fix discography buttons */
.encore-dark-theme .encore-inverted-light-set {
	--background-highlight: var(--spice-button-active);
}

/* highlight current playing song */
.main-trackList-active {
	background-color: rgba(var(--spice-rgb-selected-row), 0.25) !important;
}

/* fix genre text color in recent search */
#searchPage .main-heroCard-cardMetadata .main-cardHeader-link div {
	color: var(--spice-text) !important;
}

/* fix green play buttons on hover */
.main-topBar-topbarContent button:hover div,
.main-card-PlayButtonContainer button:hover div,
.main-actionBar-ActionBarRow button:hover div {
	background-color: var(--spice-text) !important;
}

.encore-dark-theme .encore-bright-accent-set {
	--background-highlight: var(--spice-text);
	--background-press: var(--spice-button-active);
	--decorative-subdued: var(--spice-text);
}

/* light dark toggle background */
#main-topBar-moon-button {
	background-color: var(--spice-notification);
}

#main-topBar-moon-button:hover {
	background-color: var(--spice-card);
}

/* hotfix 1.1.84 ugly gradient in left bar */
.Y8edH1Yjo4xrW_58czQj {
	background: none;
}

/* remove home top gradient */
.n87ifzfQlmGX8vkeYGDL {
	background-color: transparent !important;
	background: none;
}

/* smooth color transitions */
@property --spice-sidebar {
	syntax: "<color>";
	initial-value: magenta;
	inherits: true;
}

@property --spice-main {
	syntax: "<color>";
	initial-value: magenta;
	inherits: true;
}

@property --spice-text {
	syntax: "<color>";
	initial-value: magenta;
	inherits: true;
}

@property --spice-subtext {
	syntax: "<color>";
	initial-value: magenta;
	inherits: true;
}

@property --spice-button {
	syntax: "<color>";
	initial-value: magenta;
	inherits: true;
}

@property --spice-player {
	syntax: "<color>";
	initial-value: magenta;
	inherits: true;
}

html {
	transition: --spice-sidebar 0.5s, --spice-main 0.5s, --spice-text 0.5s, --spice-subtext 0.5s, --spice-button 0.5s, --spice-player 0.5s;
}

a[href='/lyrics-plus'] div.icon.collection-icon svg, a[href='/lyrics-plus'] div.icon.collection-active-icon svg {
	stroke: var(--spice-text);
	stroke-width: 10px;
}

.main-navBar-navBar {
	padding-top: 16px;
}

.UyzJidwrGk3awngSGIwv, .poz9gZKE7xqFwgk231J4, .xWm_uA0Co4SXVxaO7wlB {
	color: var(--spice-text);
}

.x-contributorButton-ContributorButton {
	color:  var(--spice-subtext);
}

/*equalizer*/
.main-rootlist-rootlistDividerGradient {
  display: none;
}

.x-settings-equalizerContainer {
  background-color: transparent;
}

.x-categoryCard-title {
	color: #EAEAEA;
}

.main-entityHeader-headerText * {
	color: var(--header-text);
}

.main-rootlist-statusIcons {
	margin-left: 0px;
}

/*remove lyrics background gradient*/
.lyrics-lyricsContainer-LyricsBackground {
	background-color: transparent;
	background-image: none;
}

.lyrics-lyricsContainer-Provider {
	background: none;
}

.lyrics-lyrics-background {
	background-color: transparent;
}

.tQp8UOu8jGduQXUTcv0c {
	color: white;
}

.main-trackList-trackListHeaderStuck.main-trackList-trackListHeader {
	background: var(--spice-main);
}

.main-card-card {
	background: var(--spice-main);
}

.main-cardImage-circular {
	border-radius: var(--card-image-border-radius);
}

.main-nowPlayingBar-container {
	margin: 0px 10px 10px 10px;
	border-radius: 20px;
	border: 1px solid var(--spice-card);
}

.main-rootlist-wrapper {
	margin-bottom: 10px;
}

.KdxlBanhDJjzmHfqhP0X div {
	margin-top: 4px;
}

.KdxlBanhDJjzmHfqhP0X {
	background-color: transparent;
}

.main-trackList-rowMarker {
	display: flex;
	justify-content: center;
}

.main-trackList-number {
	right: auto;
}

.main-trackList-rowSectionStart button span {
	position: relative;
	left: 56px;
}

/*fix album image at bottom left when expanded*/
.main-nowPlayingBar-left {
	overflow: hidden;
	
}

.main-trackInfo-container {
	margin: 0px 16px;
}

.cover-art.shadow {
	box-shadow: none;
}

.Foyk_HJx16yh22JYmQ56 {
	margin-left: 10px;
	margin-bottom: 10px;
	border-radius: 20px;
}

.marketplace-tabBar-active, .queue-tabBar-active {
	background-color: var(--spice-notification);
}

.main-cardImage-imageWrapper {
	background-color: var(--spice-card);
}

.main-connectBar-connectBar {
	border-radius: 0px 0px 20px 20px;
}

.Root__nav-bar {
	background-color: transparent;
}

.GenericModal {
	background-color: transparent;
}

.LayoutResizer__inline-start {
	width: 0px;
}

.main-entityHeader-topbarTitle {
	margin-left: 5px;
  margin-top: 5px;
}

/*overflow when player image clicked*/
.main-coverSlotCollapsed-navAltContainer {
  overflow: visible;
}

/*player image border*/
.main-image-image {
	border-radius: 4px;
}

.main-nowPlayingWidget-coverExpanded {
  margin-left: -72px !important;
  -webkit-transform: unset !important;
  transform: unset !important;
  transition: margin 200ms linear;
}

.main-nowPlayingWidget-nowPlaying {
	margin-left: 0px;
	transition: margin 200ms linear;
}

/*friend activity button*/
.encore-over-media-set {
	color: var(--spice-text);
	background-color: var(--spice-notification);
	display: none;
}

/*hide discography gradient*/
.artist-artistDiscography-headerContainer {
	background: unset;
}

.main-topBar-container {
	padding-right: 16px;
}

.main-topBar-historyButtons {
	gap: unset;
}

.main-topBarStatusIndicator-TopBarStatusIndicatorContainer {
	margin: 8px;
}
